@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
 body{
    font-family: 'Lato', sans-serif;
 }
 .hero{
    background: url('https://picsum.photos/1000/600/?8');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }